.root {
    -fx-background-color: #5B49F5;
    -fx-alignment: center;
}

#slogan{
    -fx-text-fill: white;
    -fx-font-family: "OCR A Extended";
    -fx-font-size: 25px;
}

#logo{
    -fx-fit-to-height: 240;
    -fx-padding: 100;
}

.button{
    -fx-background-radius: 35px;
    -fx-text-fill: #5B49F5;
    -fx-font-size: 25px;
    -fx-font-family: "OCR A Extended";
}


